<section style="padding-top: 15px">
	<div class="container">
		<div class="col-md-9 col-sm-9">
			<form method="POST" action="/drop-off/create">

				<legend>
					Drop-off Information
				</legend>
				<div class="row">
					<div class="form-group">
						<div class="col-md-4">
							<label>Price</label>
							<input class="form-control" name="price" >
						</div>
						<div class="col-md-4">
							<label>Bag Color</label>
							<input class="form-control" name="bag_color" type="text">
						</div>
						<div class="col-md-4">
							<label>Status</label>
							<select class="form-control" name="status">
								<option value="paid">
									Paid
								</option>
								<option value="hold">
									Hold
								</option>
							</select>
						</div>
					</div>
				</div>

					<legend>
						Customer Information
					</legend>
					<div class="row">
						<div class="form-group">
							<div class="col-md-4">
								<label>First Name</label>
								<input class="form-control" name="firstName" type="text" />
							</div>
							<div class="col-md-4">
								<label>Last Name</label>
								<input class="form-control" name="lastName" type="text" />
							</div>
							<div class="col-md-4">
								<label>Phone Number</label>
								<input class="form-control" name="phone" type="text" />
							</div>
							<div class="col-md-4">
								<label>Email</label>
								<input class="form-control" name="email" type="email" />
							</div>
						</div>
					</div>

					<legend>
						Customer Address
					</legend>
					<div class="row">
						<div class="form-group">
							<div class="col-md-4">
								<label>Street</label>
								<input class="form-control" name="street" type="text" />
							</div>
							<div class="col-md-4">
								<label>City</label>
								<input class="form-control" name="city" type="text" />
							</div>
							<div class="col-md-4">
								<label>State</label>
								<input class="form-control" name="state" type="text" />
							</div>
							<div class="col-md-4">
								<label>Zip</label>
								<input class="form-control" name="zip" type="text" />
							</div>
						</div>
					</div>

					<button class="btn btn-primary" type="submit">Create</button>

			</form>
		</div>
	</div>
</section>
