<section style="padding-top: 15px">
	<div class="container">
		<div class="row">

			<!-- Drop off Form-->
			<div class="col-12 col-md-8">
				<strong>
					<legend>
						Drop-off Information
					</legend>
				</strong>
				<div class="row">
					<div class="form-group">
						<div class="col-md-3">
							<label>Price</label>
							<input class="form-control" id="price" >
						</div>
						<div class="col-md-3">
							<label>Bag Color</label>
							<input class="form-control" id="bag_color" type="text">
						</div>
						<div class="col-md-3">
							<label>Status</label>
							<select class="form-control" id="status">
								<option value="paid">
									Paid
								</option>
								<option value="hold">
									Hold
								</option>
							</select>
						</div>
					</div>
				</div>

				<hr />

				<strong>
					<legend>
						Customer Information
					</legend>
				</strong>
				<div class="row">
					<div class="form-group">
						<div class="col-md-3">
							<label>First Name</label>
							<input class="form-control" id="firstName" type="text" />
						</div>
						<div class="col-md-3">
							<label>Last Name</label>
							<input class="form-control" id="lastName" type="text" />
						</div>
						<div class="col-md-3">
							<label>Phone Number</label>
							<input class="form-control" id="phone" type="text" />
						</div>
						<div class="col-md-3">
							<label>Email</label>
							<input class="form-control" id="email" type="email" />
						</div>
					</div>
				</div>

				<hr />

				<strong>
					<legend>
						Customer Address
					</legend>
				</strong>
				<div class="row">
					<div class="form-group">
						<div class="col-md-3">
							<label>Street</label>
							<input class="form-control" id="street" type="text" />
						</div>
						<div class="col-md-3">
							<label>City</label>
							<input class="form-control" id="city" type="text" />
						</div>
						<div class="col-md-3">
							<label>State</label>
							<input class="form-control" id="state" type="text" />
						</div>
						<div class="col-md-3">
							<label>Zip</label>
							<input class="form-control" id="zip" type="text" />
						</div>
					</div>
				</div>
				<hr />
				<button id="addBtn" class="btn btn-primary">Add</button>
			</div>

			<!-- Checkout -->
			<div class="col-12 col-md-4">
				<strong>
					<legend>
						Checkout
					</legend>
				</strong>

				<input type="hidden" id="transaction_id" />

				<!-- Total -->
				<div class="toggle-transparent toggle-bordered-full clearfix">
					<div class="toggle active">
						<div class="toggle-content">
							<span class="clearfix">
								<span class="pull-right size-20">
									<div id="finalPrice"></div>
								</span>
								<strong class="pull-left">TOTAL:</strong>
							</span>
							<hr />
							<button id="checkout" class="btn btn-primary btn-lg btn-block size-15"><i class="fa fa-mail-forward"></i> Checkout</button>
						</div>
					</div>
				</div>

				<!-- Cart -->
				<div class="toggle-transparent toggle-bordered-full clearfix">
					<div class="toggle active">
						<div class="toggle-content">
							<div id="ajaxCartItems"></div>
							<hr />
						</div>
					</div>
				</div>

				<!-- Empty Cart -->
				<div class="toggle-transparent toggle-bordered-full clearfix">
					<div class="toggle active">
						<div class="toggle-content">
							<button id="emptyCart" class="btn btn-primary btn-lg btn-block size-15"><i class="fa fa-eraser"></i>Empty Cart</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="dropoffModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Customer Phone Lookup</h5>
			</div>
			<div class="modal-body">
				<input id="customer_phone_lookup" class="form-control" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button id="dropoffModal_submit" type="button" class="btn btn-primary">Lookup</button>
			</div>
		</div>
	</div>
</div>

<!-- JS -->
<script>
	$(document).ready(function() {

		// Load Cart Items
		$.ajax({
			url: "/transaction/cart/get",
			method: 'GET',
			contentType: "application/json",
			success: function(data) {

				// Check the msg_type
				if("msg_type" in data && data["msg_type"] == "server_response") {

					// On Error
					if("status" in data && data["status"] == "error") {
						const err_msg = data["data"];
						$("#ajaxCartItems").append(`<p>${err_msg}</p>`);
					}

					// On Success
					else {
						if("status" in data && data["status"] == "success") {

							// Loop through the data in json returned, and append each to ajaxCartItems
							const resp_data = data["data"];
							for(let i=0; i<resp_data.length; i++) {
								const name = resp_data[i].name;
								const price = resp_data[i].price;

								// We want to render the price in human readable data
								const USD = (price/100);

								// Fill in the ui
								// NOTE: Dropoff does not have a name, so we will just add dropoffs as dropoff
								if(name == undefined) {
									$("#ajaxCartItems").append(
										`<p>
											DROPOFF
											${USD}
										</p>`
									);
								} else {
									$("#ajaxCartItems").append(
										`<p>
											${name}
											${USD}
										</p>`
									);
								}
							}

							// We also need to get the total price of everything
							let price;
							let USD;
							let finalPrice = 0;

							for(let i=0; i<resp_data.length; i++) {
								finalPrice += resp_data[i].price;
							};

							// Add the price to the UI
							finalPrice = (finalPrice/100);
							$("#finalPrice").append(
								`<p>
									${finalPrice}
								</p>`
							)

							// Load the transaction_id into a div
							if("transaction_id" in data) {
								$("#transaction_id").val( data["transaction_id"] );
							}
						}
					}
				}
			},
			error: function(err) {
				console.log(err);
				alert("GET: Failed to contact server.");
			}
		});

		// Show the modal after the page loads
		$(window).on('load', function() {
			$("#dropoffModal").modal("show");
		});

		// On modal submit
		$("#dropoffModal_submit").click(function() {
			const phone = $("#customer_phone_lookup").val();
			ajaxPhoneLookup(phone);

			// Hide Modal after submitting
			$("#dropoffModal").modal("hide");
		});

		// Post phone number to server for a look up
		function ajaxPhoneLookup(phone) {

			// JSON Request
			const json_request = {};
			json_request["msg_type"] = "server_request";
			json_request["phone"] = phone;

			// Post to server via Ajax
			$.ajax({
				url: '/customers/phone/lookup',
				method: 'POST',
				contentType: "application/json",
				data: JSON.stringify( json_request ),
				success: function(data) {

					// On Error
					if( "status" in data && data["status"] == "error" ) {
							alert("No customer records found!");
					}

					// On Success
					else {
						if( "status" in data && data["status"] == "success" ) {
							if("customer_data" in data) {

								const customer_data = data["customer_data"];

								// With the customer data pulled from the database, let us fill in the page
								$("#firstName").val(customer_data.firstName);
								$("#lastName").val(customer_data.lastName);
								$("#phone").val(customer_data.phone);
								$("#email").val(customer_data.email);
								$("#street").val(customer_data.address.street);
								$("#city").val(customer_data.address.city);
								$("#state").val(customer_data.address.state);
								$("#zip").val(customer_data.address.zip);
							}
						}
					}
				},
				error: function(err) {
					console.log(err);
					alert("POST: Failed to contact server.");
				}
			});
		};

		// Add Dropoff to database, and cart
		$("#addBtn").click(function() {

			// Assign Variables
			const street = $("#street").val();
			const city = $("#city").val();
			const state = $("#state").val();
			const zip = $("#zip").val();

			// Prepare Dropoff Data to be passed into server
			const dropOff_data = {};
			dropOff_data["status"] = $("#status").val();
			dropOff_data["date"] = new Date();
			dropOff_data["customer_firstName"] = $("#firstName").val();
			dropOff_data["customer_lastName"] = $("#lastName").val();
			dropOff_data["customer_email"] = $("#email").val();
			dropOff_data["customer_phone"] = $("#phone").val();
			dropOff_data["customer_address"] = {
				"street": street,
				"city": city,
				"state": state,
				"zip": zip
			};
			dropOff_data["price"] = $("#price").val();
			dropOff_data["bag_color"] = $("#bag_color").val();

			// Prepare JSON request
			const json_request = {};
			json_request["item_type"] = "dropoff";
			json_request["data"] = dropOff_data;
			json_request["msg_type"] = "server_request";

			// Post to server via Ajax
			$.ajax({
				url: '/transaction/cart/add',
				method: 'POST',
				contentType: "application/json",
				data: JSON.stringify( json_request ),
				success: function(data) {

					// On Error
					if( "status" in data && data["status"] == "error" ) {
						if( "error" in data) {
							alert(data["status_msg"]);
						}

					// On Success
					} else {
						if( "status" in data && data["status"] == "success" ) {
							window.location.href = "/overview/dropoff";
						}
					}
				},
				error: function(err) {
					console.log(err);
					alert("POST: Failed to contact server.");
				}
			});
		});

		// Empty Cart
		$("#emptyCart").click(function() {

			// Prepare JSON request
			const json_request = {};
			json_request["data"] = $("#transaction_id").val();
			json_request["msg_type"] = "server_request";

			$.ajax({
				url: '/transaction/cart/clear',
				method: 'POST',
				contentType: "application/json",
				data: JSON.stringify( json_request ),
				success: function(data) {

					// On Error
					if( "status" in data && data["status"] == "error" ) {
						if( "error" in data) {
							alert(data["status_msg"]);
						}

					// On Success
					} else {
						if( "status" in data && data["status"] == "success" ) {
							window.location.href = "/overview/dropoff";
						}
					}
				},
				error: function(err) {
					console.log(err);
					alert("POST: Failed to contact server.");
				}
			});
		});

		// Checkout
		$("#checkout").click(function() {

			// Prepare JSON
			const json_request = {};
			json_request["msg_type"] = "server_request";
			json_request["id"] = $("#transaction_id").val();

			// Ajax call
			$.ajax({
				url: '/transaction/cart/checkout',
				method: 'POST',
				contentType: "application/json",
				data: JSON.stringify( json_request ),
				success: function(data) {

					// On Error
					if( "status" in data && data["status"] == "error" ) {
							alert("Error in checking out !");
					}

					// On Success
					else {
						if( "status" in data && data["status"] == "success" ) {
							window.location = '/overview/dropoff';
						}
					}
				},
				error: function(err) {
					console.log(err);
					alert("POST: Failed to contact server.");
				}
			});
		})
	})
</script>
