<!-- TOP NAV -->
<div id="header" class="sticky clearfix">
	<header id="topNav">
		<div class="container">

			<!-- Mobile Menu Button -->
			<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
				<i class="fa fa-bars"></i>
			</button>

			<!-- Logo -->
			<a class="logo pull-left" href="index.html">
			</a>

			<!--
				Top Nav

				AVAILABLE CLASSES:
				submenu-dark = dark sub menu
			-->
			<div class="navbar-collapse pull-right nav-main-collapse collapse">
				<nav class="nav-main">
					<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
						<li>
							<a href="/">
								HOME
							</a>
						</li>
						<li>
							<a class="external" href="#purchase">
								CHECKOUT
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</div>
<!-- /Top Nav -->
