<section style="padding-top: 20px">
	<!-- All Soaps Inventory -->
	<div class="container">
		<div class="table-responsive" style="padding-top: 15px">
			<strong>
				<legend>
					Soap Inventory
				</legend>
			</strong>
			<table class="table table-hover table-vertical-middle">
				<thead>
					<tr>
						<th>Soap Name</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="soap_name"></td>
						<td id="soap_USD"></td>
						<td id="soap_quantity"></td>
						<td id="soap_btn"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<br />
		<br />
		<hr />

	<!-- Create a Soap -->
	<strong>
		<legend>
			Add New Soap to Inventory
		</legend>
	</strong>
		<div class="form-group">
		  <label for="example-text-input" class="col-2 col-form-label">Name</label>
		  <div class="col-10">
		    <input class="form-control" id="new_soap_name" type="text">
		  </div>
		</div>
		<div class="form-group">
			<label for="example-text-input" class="col-2 col-form-label">Price</label></label>
			<div class="col-10">
				<input class="form-control" id="new_soap_price" type="text">
			</div>
		</div>
		<button id="addBtn" class="btn btn-primary">Add</button>

		<hr />

		<!-- Dropoffs -->
		<div class="table-responsive" style="padding-top: 15px">
			<strong>
				<legend>
					Dropoff Inventory (Hold)
				</legend>
			</strong>
			<table class="table table-hover table-vertical-middle">
				<thead>
					<tr>
						<th>Ticket Number</th>
						<th>Bag Color</th>
						<th>Date</th>
						<th>Customer Name</th>
						<th>Customer Phone</th>
						<th>Price</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="ticket_number"></td>
						<td id="bag_color"></td>
						<td id="date"></td>
						<td id="name"></td>
						<td id="phone"></td>
						<td id="price"></td>
						<td id="dropOff_btn"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

<!-- JS -->
<script>
	$(document).ready(function() {

		// Get Inventory
		$.ajax({
			url: '/inventory/get',
			method: "GET",
			contentType: "application/json",
			success: function(data) {

				// Check JSON
				if("msg_type" in data && data["msg_type"] == "server_response") {
					if("status" in data && data["status"] == "success") {

						// Soaps
						if("soaps_data" in data) {
							const all_soaps = data["soaps_data"];

							// Loop through each soap
							for(let i=0; i<all_soaps.length; i++) {
								$("#soap_name").append(all_soaps[i].name);
								$("#soap_USD").append(`<input type="number" value="${(all_soaps[i].price)/100}" style="width: 65px"/>`);
								$("#soap_quantity").append(`<input type="number" value="${all_soaps[i].quantity}" style="width: 50px"/>`);
								$("#soap_btn").append(`<button class="updateBtn btn btn-primary" data-value=${all_soaps[i]._id}>Update</button>`);
							}
						}

						// Dropoffs
						if("dropOffs_data" in data) {
							const all_dropOffs = data["dropOffs_data"];

							// Loop through each dropoff
							for(let i=0; i<all_dropOffs.length; i++) {
								$("#ticket_number").append(all_dropOffs[i].ticket_number);
								$("#bag_color").append(all_dropOffs[i].bag_color);
								$("#date").append( all_dropOffs[i].date );
								$("#name").append( (all_dropOffs[i].customer_firstName + " " + all_dropOffs[i].customer_lastName) );
								$("#phone").append(all_dropOffs[i].phone);
								$("#price").append( (all_dropOffs[i].price)/100 );
								$("#dropOff_btn").append(`<button class="checkoutBtn btn btn-primary" data-value=${all_dropOffs[i]._id}>Checkout</button>`);
							}
						}
					}

					// Error
					if("status" in data && data["status"] == "error") {
						alert(data["err_data"]);
					}
				}
			},
			error: function(err) {
				alert("Error in getting inventory");;
			}
		})

		// Add Soap to Inventory
		$("#addBtn").click(function() {

			// Prepare Data
			const data = {};
			data["name"] = ( $("#new_soap_name").val() ).toUpperCase();
			data["price"] = $("#new_soap_price").val();

			// Prepare JSON request
			const json_request = {};
			json_request["msg_type"] = "server_request";
			json_request["item_type"] = "soap";
			json_request["data"] = data;

			// Post to server via Ajax
			$.ajax({
				url: '/inventory/add',
				method: 'POST',
				contentType: "application/json",
				data: JSON.stringify( json_request ),
				success: function(data) {

					// On Error
					if( "status" in data && data["status"] == "error" ) {
						alert("Error in adding soap!");

					// On Success
					} else {
						if( "status" in data && data["status"] == "success" ) {
							window.location.href = "/inventory";
						}
					}
				},
				error: function(err) {
					console.log(err);
					alert("POST: Failed to contact server.");
				}
			});

		})
	})
</script>
