<!--
	HOME
	<section id="home" class="height-450" style="background:url('assets/images/demo/wall2.jpg')">
		<div class="display-table">
			<div class="display-table-cell vertical-align-middle">

				<div class="container text-center">
					<h1 class="nomargin size-50 weight-300 wow fadeInUp" data-wow-delay="0.4s">Web Based POS</h1>
					<p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">Inventory Managment, Customer Contacts, Etc.</p>
				</div>

			</div>
		</div>
	</section>
-->

<!-- All Soaps -->
<section>
	<div class="container">
		<ul class="row clients-dotted list-inline">
			<!-- Soaps -->
			{{#each soaps}}
			<li class="col-md-3 col-sm-3 col-xs-6">
				<h3>
					<div>
						{{this.name}}
					</div>
					<div>
						${{this.USD}}
					</div>
				</h3>
				<!--
				 	TODO: Add a button to add this to cart.
				-->
				<div class="shop-item-buttons">
					<a class="btn btn-primary">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</section>
