<!--
	HOME
	<section id="home" class="height-450" style="background:url('assets/images/demo/wall2.jpg')">
		<div class="display-table">
			<div class="display-table-cell vertical-align-middle">

				<div class="container text-center">
					<h1 class="nomargin size-50 weight-300 wow fadeInUp" data-wow-delay="0.4s">Web Based POS</h1>
					<p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">Inventory Managment, Customer Contacts, Etc.</p>
				</div>

			</div>
		</div>
	</section>
-->

<!-- Overview -->
<section>
	<div class="container">
		<ul class="row clients-dotted list-inline">

			<!-- Soap -->
			<li class="col-md-3 col-sm-3 col-xs-6">
				<h3>
					<div>
						SOAP
					</div>
				</h3>
				<div class="shop-item-buttons">
					<a href="/overview/soap" class="btn btn-primary">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</li>

			<!-- Dropoff -->
			<li class="col-md-3 col-sm-3 col-xs-6">
				<h3>
					<div>
						DROPOFF
					</div>
				</h3>
				<div class="shop-item-buttons">
					<a href="/drop-off/create" class="btn btn-primary">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</li>

			<!-- Inventory  -->
			<li class="col-md-3 col-sm-3 col-xs-6">
				<h3>
					<div>
						INVENTORY
					</div>
				</h3>
				<div class="shop-item-buttons">
					<a href="/inventory/soap" class="btn btn-primary">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</li>

			<!-- Customers -->
			<li class="col-md-3 col-sm-3 col-xs-6">
				<h3>
					<div>
						CUSTOMERS
					</div>
				</h3>
				<div class="shop-item-buttons">
					<a href="/customers/list" class="btn btn-primary">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</li>
		</ul>
	</div>
</section>
