<!-- HOME -->
<section id="home" class="height-450" style="background:url('assets/images/demo/wall2.jpg')">
	<div class="display-table">
		<div class="display-table-cell vertical-align-middle">

			<div class="container text-center">
				<h1 class="nomargin size-50 weight-300 wow fadeInUp" data-wow-delay="0.4s">Web Based POS</h1>
				<p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">Inventory Managment, Customer Contacts, Etc.</p>
			</div>

		</div>
	</div>
</section>
<!-- /HOME -->
