<!-- All Soaps -->
<section>
	<div class="container">
		<div class="row">

			<!-- Soaps -->
			<div class="col-12 col-md-8">
				<strong>
					<legend>
						Soap Selection
					</legend>
				</strong>
				<ul class="clients-dotted list-inline">

					{{#each soaps}}
					<li class="col-md-3 col-sm-3 col-xs-6">
						<h3>
							<div>
								{{this.name}}
							</div>
							<div>
								${{this.USD}}
							</div>
						</h3>
						<div class="shop-item-buttons">
							<a class="addBtn btn btn-primary" href="#" data-value={{this._id}}>
								<i class="fa fa-plus"></i>
							</a>
						</div>
					</li>
					{{/each}}

				</ul>
			</div>

			<!-- Checkout -->
			<div class="col-12 col-md-4">
				<strong>
					<legend>
						Checkout
					</legend>
				</strong>

				<input type="hidden" id="transaction_id" />

				<!-- Total -->
				<div class="toggle-transparent toggle-bordered-full clearfix">
					<div class="toggle active">
						<div class="toggle-content">
							<span class="clearfix">
								<span class="pull-right size-20">
									<input id="finalPrice" disabled style="width:100px" />
								</span>
								<strong class="pull-left">TOTAL:</strong>
							</span>
							<hr />
							<button id="checkout" class="btn btn-primary btn-lg btn-block size-15"><i class="fa fa-mail-forward"></i> Checkout</button>
						</div>
					</div>
				</div>

				<!-- Customer Payment -->
				<div class="toggle-transparent toggle-bordered-full clearfix">
					<div class="toggle active">
						<div class="toggle-content">
							<span class="clearfix">
								<span class="pull-right size-20">
									<input id="paymentTotal" style="width: 100px" type="number" />
								</span>
								<strong class="pull-left">PAYMENT TOTAL:</strong>
							</span>
						</div>
					</div>
				</div>

				<!-- Cart -->
				<div class="toggle-transparent toggle-bordered-full clearfix">
					<div class="toggle active">
						<div class="toggle-content">
							<div id="ajaxCartItems"></div>
							<hr />
						</div>
					</div>
				</div>

				<!-- Empty Cart -->
				<div class="toggle-transparent toggle-bordered-full clearfix">
					<div class="toggle active">
						<div class="toggle-content">
							<button id="emptyCart" class="btn btn-primary btn-lg btn-block size-15"><i class="fa fa-eraser"></i>Empty Cart</button>
						</div>
					</div>
				</div>

		</div>
	</div>
</section>

<!-- JS -->
<script>
	$(document).ready(function() {

		// Load Cart Items
		$.ajax({
			url: "/transaction/cart/get",
			method: 'GET',
			contentType: "application/json",
			success: function(data) {

				// Check the msg_type
				if("msg_type" in data && data["msg_type"] == "server_response") {

					// On Error
					if("status" in data && data["status"] == "error") {
						const err_msg = data["data"];
						$("#ajaxCartItems").append(`<p>${err_msg}</p>`);
					}

					// On Success
					else {
						if("status" in data && data["status"] == "success") {

							// Loop through the data in json returned, and append each to ajaxCartItems
							const resp_data = data["data"];
							for(let i=0; i<resp_data.length; i++) {
								const name = resp_data[i].name;
								const price = resp_data[i].price;

								// We want to render the price in human readable data
								const USD = (price/100);

								// Fill in the ui
								// NOTE: Dropoff does not have a name, so we will just add dropoffs as dropoff
								if(name == undefined) {
									$("#ajaxCartItems").append(
										`<p>
											DROPOFF
											${USD}
										</p>`
									);
								} else {
									$("#ajaxCartItems").append(
										`<p>
											${name}
											${USD}
										</p>`
									);
								}
							}

							// We also need to get the total price of everything
							let price;
							let USD;
							let finalPrice = 0;

							for(let i=0; i<resp_data.length; i++) {
								finalPrice += resp_data[i].price;
							};

							// Add the price to the UI
							finalPrice = (finalPrice/100);
							$("#finalPrice").val(finalPrice);

							// Load the transaction_id into a div
							if("transaction_id" in data) {
								$("#transaction_id").val( data["transaction_id"] );
							}
						}
					}
				}
			},
			error: function(err) {
				console.log(err);
				alert("GET: Failed to contact server.");
			}
		});

		// On 'addBtn' click
		$("a.addBtn").click(function() {

			// Assign Variables
			const soapId = $(this).data("value");

			// Prepare Soap Data to be passed into server
			const soap_data = {};
			soap_data["id"] = soapId;

			// Prepare JSON request
			const json_request = {};
			json_request["item_type"] = "soap";
			json_request["data"] = soap_data;
			json_request["msg_type"] = "server_request";

			// Post to server via Ajax
			$.ajax({
				url: '/transaction/cart/add',
				method: 'POST',
				contentType: "application/json",
				data: JSON.stringify( json_request ),
				success: function(data) {

					// On Error
					if( "status" in data && data["status"] == "error" ) {
						if( "error" in data) {
							alert(data["error"]);
						}

					// On Success
					} else {
						if( "status" in data && data["status"] == "success" ) {
							window.location.href = "/overview/soap";
						}
					}
				},
				error: function(err) {
					console.log(err);
					alert("POST: Failed to contact server.");
				}
			});
		});

		// Empty Cart
		$("#emptyCart").click(function() {

			// Prepare JSON request
			const json_request = {};
			json_request["command"] = "empty";
			json_request["data"] = $("#transaction_id").val();
			json_request["msg_type"] = "server_request";

			$.ajax({
				url: '/transaction/cart/clear',
				method: 'POST',
				contentType: "application/json",
				data: JSON.stringify( json_request ),
				success: function(data) {

					// On Error
					if( "status" in data && data["status"] == "error" ) {
						if( "error" in data) {
							alert(data["error"]);
						}

					// On Success
					} else {
						if( "status" in data && data["status"] == "success" ) {
							window.location.href = "/overview/soap";
						}
					}
				},
				error: function(err) {
					console.log(err);
					alert("POST: Failed to contact server.");
				}
			});
		});

		// Checkout
		$("#checkout").click(function() {

			// Prepare JSON
			const json_request = {};
			json_request["msg_type"] = "server_request";
			json_request["id"] = $("#transaction_id").val();

			// Ajax call
			$.ajax({
				url: '/transaction/cart/checkout',
				method: 'POST',
				contentType: "application/json",
				data: JSON.stringify( json_request ),
				success: function(data) {

					// On Error
					if( "status" in data && data["status"] == "error" ) {
							alert("Error in checking out !");
					}

					// On Success
					else {
						if( "status" in data && data["status"] == "success" ) {
							window.location = '/overview/soap';

							// Customer Due processing
							const paymentTotal = $("#paymentTotal").val() * 100;
							const finalTotal = $("#finalPrice").val() * 100;
							const changeDue = (paymentTotal - finalTotal)/100;
							alert(`The customer is due: ${changeDue}`);
						}
					}
				},
				error: function(err) {
					console.log(err);
					alert("POST: Failed to contact server.");
				}
			});
		})
	})
</script>
