<!-- All Soaps -->
<section>
	<div class="container">
		<div class="row">

			<!-- Soaps -->
			<div class="col-12 col-md-8">
				<strong>
					<legend>
						Soap Selection
					</legend>
				</strong>
				<ul class="clients-dotted list-inline">

					{{#each soaps}}
					<li class="col-md-3 col-sm-3 col-xs-6">
						<h3>
							<div>
								{{this.name}}
							</div>
							<div>
								${{this.USD}}
							</div>
						</h3>
						<input type="hidden" id="soapId" value="{{this._id}}" />
						<div class="addBtn shop-item-buttons">
							<a class="btn btn-primary">
								<i class="fa fa-plus"></i>
							</a>
						</div>
					</li>
					{{/each}}

				</ul>
			</div>

			<!-- Vertical Divider -->
			<div style="border-right: 1px dashed #333;"></div>

			<!-- Checkout -->
			<div class="col-12 col-md-4">
				<strong>
					<legend>
						Checkout
					</legend>
				</strong>

				<!-- Cart -->
				<div class="toggle-transparent toggle-bordered-full clearfix">
					<div class="toggle active">
						<div class="toggle-content">

							item 1
							<hr />
							item 2
							<hr />

						</div>
					</div>
				</div>

				<hr />

				<!-- Total -->
				<div class="toggle-transparent toggle-bordered-full clearfix">
					<div class="toggle active">
						<div class="toggle-content">

							<span class="clearfix">
								<span class="pull-right size-20">HARCODED PRICE</span>
								<strong class="pull-left">TOTAL:</strong>
							</span>

							<hr />

							<button class="btn btn-primary btn-lg btn-block size-15"><i class="fa fa-mail-forward"></i> Checkout</button>
						</div>
					</div>
				</div>

		</div>
	</div>
</section>

<!-- AJAX -->
<script>
	$(document).ready(function() {

		// On 'addBtn' click
		$(".addBtn").click(function() {

			// Assign Variables
			const soapId = $("#soapId").val();

			// Prepare Soap Data to be passed into JSON
			const soap_data = {};
			soap_data["id"] = soapId;

			// Prepare JSON request
			const json_request = {};
			json_request["msg_type"] = "server_request";
			json_request["item_type"] = "soap";
			json_request["data"] = soap_data;

			// Server URL
			const url = '/transaction/cart/add';

			// Post to server via Ajax
			$.ajax({
				url: url,
				method: 'POST',
				contentType: "application/json",
				data: JSON.stringify( json_request ),
				success: function(data) {
					// On Error
					if( "request_status" in data && data["request_status"] == "error" ) {
						if( "error" in data) {
							alert(data["error"]);
						}

					} else {
						if( "request_status" in data && data["request_status"] == "success" ) {
							alert("Item added!");

							// TODO: Need to think on how to load the cart now that the item has been added
						}
					}
				},
				error: function(err) {
					console.log(err);
					alert("Failed to contact server.");
				}
			});
		})
	})
</script>
